span {
    font-family: Spiegel;
    font-size: 1.2em;
    margin: auto;
}

p, small {
    font-family: Spiegel;
}

.main {
    padding-bottom: 8em;
}

.breakWord {
    word-spacing: 100vw;
}

.championData {
    border: 0.1em solid #010A13;
    box-shadow: inset 0 0 1.4em #F0E6D2;
    display: flex;
}

.championData:first-child{
    width: 10ch;
}

.searchBox {
    display: flex;
    justify-content: center;
}

.correct{
    background-color: #28a745;
}

.partial {
    background-color: #ffc107;
}

.incorrect {
    background-color: #dc3545;
}

.victory{
    display: flex;
    justify-content: center;
}

.victory p {
    font-size: 1.4em;
}

.victory > .card {
    color: #fff;
    background-image: linear-gradient(#408140, #5cb85c);
}

.victory .smaller {
    font-size: 1.1em;
}

.modal-header {
    border: none;
}

.modal-content {
    background-color: transparent;
    border: none;
}
