span {
    font-family: Spiegel;
    font-size: 1.2em;
    margin: auto;
}

p, small {
    font-family: Spiegel;
}

.main {
    padding-bottom: 8em;
}

.breakWord {
    word-spacing: 100vw;
}

.championData {
    border: 0.1em solid #010A13;
    box-shadow: inset 0 0 1.4em #F0E6D2;
    display: flex;
}

.championData:first-child{
    width: 10ch;
}

.correct{
    background-color: #28a745;
}

.partial {
    background-color: #ffc107;
}

.incorrect {
    background-color: #dc3545;
}

.victory{
    display: flex;
    justify-content: center;
}

.victory p {
    font-size: 1.4em;
}

.victory > .card {
    color: #fff;
    background-image: linear-gradient(#408140, #5cb85c);
}

.victory .smaller {
    font-size: 1.1em;
}

#victoryModal .modal-header {
    border: none;
}

#victoryModal .modal-content {
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 768px) {

    #gameTitle, .championData {
        font-size: 0.9em;
    }

    .container {
        padding: 0;
    }

    .col-1:first-child {
        display: none;
    }

    .championData:first-child{
        max-width: 7.5ch;
    }

    #guess-form {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .championData:first-child{
        max-width: 7.5ch;
    }

    #gameTitle, .championData {
        font-size: 0.9em;
    }

    #guess-form {
        width: 40%;
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .championData:first-child{
        max-width: 8.5ch;
    }

    #guess-form {
        width: 35%;
    }
}

@media only screen and (min-width: 1400px) {
    .championData:first-child{
        max-width: 10ch;
    }

    #guess-form {
        width: 30%;
    }
}