span {
    font-family: Spiegel;
    font-size: 1.2em;
    margin: auto;
}

p, small {
    font-family: Spiegel;
}

.main {
    padding-bottom: 8em;
}

.breakWord {
    word-spacing: 100vw;
}

.championData {
    border: 0.1em solid #010A13;
    box-shadow: inset 0 0 0.6em #010A13;
    display: flex;
}

.championData:first-child{
    width: 10ch;
}

.correct{
    background-color: #28a745;
}

.partial {
    background-color: #ffc107;
}

.incorrect {
    background-color: #dc3545;
}

.incorrect-greater {
    background-image: linear-gradient(#28a745, 60%, #dc3545);
}

.incorrect-less {
    background-image: linear-gradient(#dc3545, 60%, #28a745);
}

.victory{
    display: flex;
    justify-content: center;
}

.victory p {
    font-size: 1.4em;
}

.victory > .card {
    color: #fff;
    background-image: linear-gradient(#408140, #5cb85c);
}

.victory .smaller {
    font-size: 1.1em;
}

.transparentModal .modal-header {
    border: none;
}

.transparentModal .modal-content {
    background-color: transparent;
    border: none;
}

.regionText {
    white-space: pre;
}

.demo {
    width: 4vw;
    height: 4vw;
    border: 0.1em solid #010A13;
    box-shadow: inset 0 0 0.6em #010A13;
}

.demoCorrect {
    background-color: #28a745;
}

.demoPartial {
    background-color: #ffc107;
}

.demoIncorrect {
    background-color: #dc3545;
}

.demoInoccrectGreater {
    background-image: linear-gradient(#28a745, 60%, #dc3545);
}

.demoInoccrectLess {
    background-image: linear-gradient(#dc3545, 60%, #28a745);
}

#championsImgs {
    max-width: 10vw;
}

#spriteContainer {
    max-width: 30vw;
    max-height: 30vh;
    overflow: hidden;
}

.darkBtn {
    background-color: #1E2328;
}

@media only screen and (min-width: 768px) {

    #gameTitle, .championData {
        font-size: 0.9em;
    }

    .container {
        padding: 0;
    }

    .championData:first-child{
        max-width: 7.5ch;
    }

    #guess-form {
        width: 45%;
    }

    .col-1, .col-2 {
        padding: 0em;
    }

    .container, .container-md, .container-sm {
        max-width: 90vw;
    }
}

@media only screen and (min-width: 992px) {
    .championData:first-child{
        max-width: 7.5ch;
    }

    #gameTitle, .championData {
        font-size: 0.9em;
    }

    #guess-form {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .championData:first-child{
        max-width: 8.5ch;
    }

    #guess-form {
        width: 35%;
    }

    #gameTitle, .championData {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1400px) {
    .championData:first-child{
        max-width: 10ch;
    }

    #guess-form {
        width: 30%;
    }

    .container, .container-md, .container-sm {
        max-width: 70vw;
    }

    #gameTitle, .championData {
        font-size: 1.1em;
    }
}