body {
  margin: 0;
  font-family: 'Beaufort for LOL', 'Spiegel', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./fonts/BeaufortforLOL-Bold.woff2') format('woff2'),
      url('./fonts/BeaufortforLOL-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spiegel';
  src: url('./fonts/Spiegel-Regular.woff2') format('woff2'),
      url('./fonts/Spiegel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

