body {
  background-color: var(--primary-color);
}

#footer {
  font-family: Spiegel;
  padding-top: 0.5em;
  background-color: var(--primary-color);
  color: #fff;
}

.navbar {
  background-color: var(--navbar-bg-color);
  font-size: 1.3em;
}

.navbar img {
  min-height: 3vw;
  max-height: 5vh;
  padding-right: 1em;
}

#about a,
#disclaimer a,
#privacy a {
  color: #010a13;
  font-weight: bold;
  text-decoration: none;
}

#legal li {
  font-family: Spiegel;
}

.navbar-dark .navbar-nav .nav-link,
.darkBtn {
  color: #fff;
}

.navbar-brand {
  font-size: 1.4em;
}

h2,
h3,
h4,
h5,
li {
  color: var(--title-color);
}

p {
  color: var(--title-color);
}

#about a,
#legal a {
  color: var(--title-color);
}
