name: Build Docker Compose and run backend Tests

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create env file
        run: |
          touch backend/.env
          echo DB_HOST=${{ secrets.TEST_DB_HOST }} >> backend/.env
          echo DB_USERNAME=${{ secrets.TEST_DB_USERNAME }} >> backend/.env
          echo DB_PASSWORD=${{ secrets.TEST_DB_PASSWORD }} >> backend/.env
          echo DB_DATABASE=${{ secrets.TEST_DB_DATABASE }} >> backend/.env
          echo TOKEN=${{ secrets.TEST_TOKEN }} >> backend/.env
          echo NODE_ENV=${{ secrets.TEST_NODE_ENV }} >> backend/.env
          echo ENV=${{ secrets.TEST_ENV }} >> backend/.env
          cat backend/.env

      - name: Set up Docker Compose
        run: |
          sudo apt-get update
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.18.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Build and run Docker containers
        run: |
          docker-compose -f backend/docker-compose.test.yml up --build -d

      - name: Wait for services to start
        run: |
          sleep 20

      - name: Run tests and check status
        id: tests
        run: |
          docker exec loldle-api npm test

      - name: Stop and remove containers
        run: |
          docker-compose -f backend/docker-compose.test.yml down
